# Virtual environment
.venv/
venv/
env/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
instance/

# Database files (if using SQLite)
*.sqlite3
*.db

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log